#popular-tags {
  grid-area: 4 / 3 / 5 / 3;
  grid-template-rows: 70px auto;
  display: grid;
  justify-items: center;
  justify-self: center;
  max-width: 80%;
}

#popular-tags  h1 {
  color: #5e5e5e;
  grid-row: 1;
}

#popular-tags #tags {
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}